<!DOCTYPE html>
<html>
  <head>
    <title>inicio</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </head>
  <body>
    <header>
      <div id="flexDiv">
        <img src="/images/logo-mercado-liebre.svg" alt="no carga imagen">
        <div class="barraBusqueda">
          <input type="text" placeholder="buscar productos">
        <i class="fas fa-search"></i>
        </div>
        <p id="xd"><i style="color: black;" class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
      <p class="segundoCompra" id="ocultar"><i style="color: black;" class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
      
      <div class="botonMenu">
        <i class="fas fa-bars"></i>
      </div>
      <div class="nav">
        <div class="nav1">
          <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>
        </div>
        <div class="nav1">
          <ul>
            <li><a href="registro">Creá tu cuenta <i style="color: black;" class="fas fa-user-circle"></i></a></li>
            <li><a href="login">Ingresá <i style="color: black;" class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="">Mis compras <i style="color: black;" class="fas fa-shopping-basket"></i></a></li>
          </ul>
        </div>
      </div>
    </header>
    <section class="banner">
      <img src="/images/img-home-banner.jpg" alt="">
    </section>
    <main>
      <h2>Basado en tu última visita</h2>
      <section class="seccionProductos">
          <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>
            <h4 class="descripciones">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h4>
          </article>
          </div>
          <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h4 class="descripciones">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h4>
          </article>
          <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$70.500</p>
            <p class="descuento">15% OFF</p>
            <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h4>
          </article>
          <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$34.000</p>
            <p class="descuento">5% OFF</p>
            <h4 class="descripciones">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h4>
          </article>
      </section>
      <h2>Ofertas</h2>
      <section class="seccionProductos">
          <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$6.770</p>
            <p class="descuento">40% OFF</p>
            <h4 class="descripciones">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h4>
          </article>
          <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h4 class="descripciones">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h4>
          </article>
          <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$70.500</p>
            <p class="descuento">15% OFF</p>
            <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h4>
          </article>
          <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <hr>
            <p class="iconoCamion"><i class="fas fa-truck"></i></p>
            <p class="precios">$34.000</p>
            <p class="descuento">5% OFF</p>
            <h4 class="descripciones">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h4>
          </article>
      </section>
    </main>
    <footer>
      <article>
        <i style="color:rgb(40, 40, 175);" class="fas fa-credit-card" class="tarjeta"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!</p>
      </article>
      <article>
        <i style="color:rgb(40, 40, 175);" class="fas fa-gift"></i>
      <h3>Envío gratis desde los $ 2.500</h3>
      <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>
      </article>
      <article class="ultimo">
        <i style="color:rgb(40, 40, 175)" class="fas fa-user-shield"></i>
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre prtegid@.</p>
      </article>
      <div class="textoCopiray">Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer>
  </body>
</html>
